h1, p{
    text-align: center;
}

li:hover{
    background-color: aquamarine;
}
li:active{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul, ol{
    list-style: none;
}