@import url('https://fonts.googleapis.com/css2? family= PT+Sans:ital@1 & display=swap');
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
  max-width: 95%;
  text-size-adjust: flex-start;
  margin: auto;
  font-family: 'PT Sans', sans-serif;
  background-color: rgb(202, 247, 247);
  font-style: italic;
  line-height: 1.8;


}
header{
  display: flex;
  flex-direction: column;
}
header p{
  font-weight: 600;
  font-size: large;
  text-align: center;
  background-color: aliceblue;
 border-style: groove;
  box-shadow: -1px -1px 1px #325d6f, 1px 1px 1px #bfe3f2;
-webkit-box-shadow: -1px -1px 1px #325d6f, 1px 1px 1px #bfe3f2;
-moz-box-shadow: -1px -1px 1px #325d6f, 1px 1px 1px #bfe3f2;
}
ul{
list-style: none;
}
aside{
  border-top: solid 1px blue;

  margin: 20px 0px;
} 
h2 {
  font-size: larger;
  text-align: center;
  background-color: aliceblue;
 border-style: groove;
  box-shadow: -1px -1px 1px #325d6f, 1px 1px 1px #bfe3f2;
-webkit-box-shadow: -1px -1px 1px #325d6f, 1px 1px 1px #bfe3f2;
-moz-box-shadow: -1px -1px 1px #325d6f, 1px 1px 1px #bfe3f2;
}
h1{
  display: flex;
  font-size: xx-large;
  text-align: center;
  background-color: aliceblue;
 border-style: groove;
  box-shadow: -1px -1px 1px #325d6f, 1px 1px 1px #bfe3f2;
-webkit-box-shadow: -1px -1px 1px #325d6f, 1px 1px 1px #bfe3f2;
-moz-box-shadow: -1px -1px 1px #325d6f, 1px 1px 1px #bfe3f2;
}
footer{
  border-top: solid 1px blue;
  font-size: 18px;
  margin-top: 50px;
}
p{
  font-size: 20px;
}
h3{
  text-align: center;
  background-color: aliceblue;
 border-style: groove;
  box-shadow: -1px -1px 1px #325d6f, 1px 1px 1px #bfe3f2;
-webkit-box-shadow: -1px -1px 1px #325d6f, 1px 1px 1px #bfe3f2;
-moz-box-shadow: -1px -1px 1px #325d6f, 1px 1px 1px #bfe3f2;
}