div:hover{
    border: 6px solid black;
}
div:nth-of-type(1){
    background-color: red;
}
div:nth-of-type(2){
    background-color:green;
}
div:nth-of-type(3){
    background-color:yellow;
    height: 100px;
    padding-top: 5%;
}
div:nth-of-type(4){
    background-color:gray;
}
div:nth-of-type(5){
    background-color: lightblue
}
div:nth-of-type(1) > h3{
    color: purple;
}
div:nth-of-type(2) > h3{
    color: rgb(4, 31, 4);
}
div:nth-of-type(3) > h3{
    font-size: 20px;
}
div:nth-of-type(4) > h3{
    font-family: monospace;
}
div:nth-of-type(5) > h3{
    font-style: italic;
}
div:nth-of-type(odd) h3{
    font-style: italic;
}
