 ol li{
    background-color: yellow;
}
ol li:nth-child(even){
    color:green;
    font-weight: 600;

}
ol li:nth-child(odd){
    text-transform: uppercase;
    font-weight: 600;
}
h1,h2,h3 {
    color: red;

}
  h1 em, h2 em, h3 em{
    font-size: 40px;
    border: solid;
    border-width: 1px;
    border-color: black;
}
li{
    font-size: 20px;
}
li em{
    font-weight: 700;
}
#linguagens li:not(:nth-child(n+4)){

    color: blue;
}
.rosa{
    background-color: pink;
}
#aliados li a:hover{
    font-weight: 700;
}
#aliados li a[href*="stackoverflow"]{
    
    color:orange;
}
#aliados li a[href*="w3schools"]{
    
    color:green;
}
#aliados li a[href*="mozilla"]{
     color:black;
}
#aliados li a[href*="devdocs"]{
    
    color: yellow;
}
#aliados li a[href*="trybe"]{    
    color:  green;
}